{# src/Zoo/AnnimalBundle/Resources/views/AnimalView/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="page-header">
    <h1>
        Editer un Animal 
    </h1>
</div>
   
<div class="well">
    {{ form(form) }}
</div>
    
<div class="container col-md-12">
    <a id="back" class="btn btn-success" href="/animal">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
        Revenir à la liste d'Animaux
    </a>
</div>
{% endblock %}                        