{# src/Zoo/PlatformBundle/Resources/views/Include/about.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>
        A propos
    </h1>
</div>
<div class="col-md-4">
   <img class="img-circle" src="{{ asset('Image/flower_round.jpg') }}" alt="Flower" width="90%"/>
</div> 
<div class="col-md-8">
    <h3><i>La gestion d'Animaux</i></h3>
    <p>
        Ce site est un projet étudiant développé dans le cadre du module Programmation Web en 4ème année à l'école d'ingénieurs Numérique ESIEA.
    </p>
    <p>
        Il n'a pas vocation à être la réplique d'un vrai site de gestion.
    </p>
    <h3><i>L'équipe</i></h3>
    <p>
        Apprenties Ingénieures, notre équipe se veut être force de proposition en alliant curiosité étudiante et conscience professionnelle.
    </p>
    <br/>
    <h4><i>NDIAYE A. & NGUYEN T.T.</i></h4>
    
</div>
{% endblock %}                       