{# src/Zoo/PlatformBundle/Resources/views/Include/about.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
<div class="page-header">
    <h1>
        About
    </h1>
</div>
<div class="jumbotron">
<p>
    Zoo Management Website - In Dev
</p>
</div>
{% endblock %}                       