{# src/Zoo/PlatformBundle/Resources/views/Include/home.html.twig #}

<html>
    <head>
        
    </head>
    <body>
        <h1>
            Zoo Management Home
        </h1>
        <p>
        Welcome, {{nom}}!
        </p>
    </body>
</html>