{# src/Zoo/PlatformBundle/Resources/views/Include/home.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Zoo Management Home
    </h1>
    <p>
    Welcome, {{nom}}!
    </p>
{% endblock %}                        