{# src/Zoo/PlatformBundle/Resources/views/Base/login.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Login
    </h1>
    <p>
    <input type="text">
    <input type="password">
    <input type="submit">
    </p>
    <p>
        <a href="/home">Back Home</a>
    </p>

{% endblock %} 