{# src/Zoo/PlatformBundle/Resources/views/Base/login.html.twig #}

<html>
    <head>
        
    </head>
    <body>
        <h1>
            Login
        </h1>
        <p>
        <input type="text">
        <input type="password">
        <input type="submit">
        </p>
    </body>
</html>