{# src/Zoo/PlatformBundle/Resources/views/Base/login.html.twig #} {% extends 'base.html.twig' %} {% block body %}
<div class="page-header">
    <h1>Connexion</h1>
</div>
<div class="row">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Email</label>
            <div class="col-md-6">
                <input type="text" class="form-control input-md" id="username" name="username" required="">
            </div>
        </div><br/><br/>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Mot de Passe</label>
            <div class="col-md-6">
                <input type="password" class="form-control input-md" id="password" name="password" required="">
            </div>
        </div><br/><br/>
        <div class="form-group">
            <label class="col-md-4 control-label" for="Register"></label>
            <div class="col-md-8">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>

</div>
{% endblock %}